<!-- applicationContext.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans -->
    <bean id="translator" class="sml.Translator">
        <constructor-arg value="resources/test1.sml"/>
    </bean>

<!--    <bean id="machine" class="sml.Machine">-->
<!--        <constructor-arg value="0x40_000"/>-->
<!--    </bean>-->

</beans>
